<% meta_tag("og_title", @resource.title) %>
<% meta_tag("og_description", @resource.meta_description) %>
<% meta_tag("og_url", request.url) %>
<% meta_tag("og_site_name", "Buildd.co") %>
<% meta_tag("og_twitter_title", @resource.title) %>
<% meta_tag("og_twitter_description", @resource.meta_description) %>
<%# meta_tag("og_image", "hhttps://ik.imagekit.io/remotetools/remoteness_calculator_logos/Screenshot_2021-04-21_at_8.02.19_PM_OxN4boJO9Y.png") %>
<%# meta_tag("og_twitter_image", "https://ik.imagekit.io/remotetools/remoteness_calculator_logos/Screenshot_2021-04-21_at_8.02.19_PM_OxN4boJO9Y.png") %>
<style>
html, body {
  font-family: 'DM Sans', sans-serif !important;
}
.top-section. .navbar {
  font-family: 'Inter', sans-serif;
}
</style>
<div class="max-w-4xl mx-auto">
<section class="top-section mt-0 sm:mt-4 mb-4 text-gray-700 body-font">
  <div class="text-center">
    <h1 class="sm:text-6xl text-4xl font-extrabold text-center title-font text-flamingo-800 m-auto pt-8 pb-2 leading-none tracking-tight"><%= @resource.h1 %></h1>
    <% if @resource.h2.present? %>
    <h2 class="sm:text-2xl text-xl font-light text-center title-font m-auto pt-2 pb-8 leading-snug tracking-tight"><%= @resource.h2 %></h2>
    <% end %>
  </div>
</section>
<% if @resource.content.present? %>
<section class="blog-section mt-0 sm:mt-4 mb-4 text-gray-700 body-font sm:text-lg text-md">
<%= @resource.content.html_safe %>
</section>
<% end %>
<br/><br/>
</div>
