@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

body {
  @apply bg-gray-100;
  font-family: 'Lato', sans-serif;
}

.btn {
  @apply px-4 py-2 bg-blue-600 text-white rounded;
}

h2 {
  @apply sm:text-2xl text-xl font-bold text-gray-800 py-4 leading-none tracking-tight;
}

.tilt1 {
	@apply py-1 mb-3 mt-16 px-4 inline-flex bg-gradient-to-br from-flamingo-100 to-flamingo-200 transform -rotate-1;
  }
.tilt2 {
	@apply py-1 mb-3 mt-16 px-4 inline-flex bg-gradient-to-br from-red-100 to-pink-200 transform -rotate-1;
 }
.tilt3 {
	@apply py-1 mb-3 mt-16 px-4 inline-flex bg-gradient-to-br from-purple-100 to-indigo-200 transform -rotate-1;
}
.tilt1 span, .tilt2 span, .tilt3 span{
	@apply transform rotate-1;
}

h3 {
  @apply sm:text-xl text-lg font-bold text-gray-700 py-3 leading-none tracking-tight;
}

h4 {
  @apply sm:text-lg text-base font-bold text-gray-600 py-2 leading-none tracking-tight;
}

p {
  @apply sm:text-lg text-base py-2;
}

a {
  @apply underline text-blue-500;
}

a:hover {
  @apply text-blue-700;
}

hr {
  @apply my-2 text-gray-700;
}

.blog-section-body ol, ol {
  @apply list-decimal pl-8;
  padding-top:0px !important;
  margin-top:0px !important;
  @apply pb-2;
}

.blog-section-body ul, ul {
  @apply list-disc pl-8;
  padding-top:0px !important;
  margin-top:0px !important;
  @apply pb-2;
}

.toc {
	@apply bg-gray-100 border border-gray-100 rounded-lg pb-2 my-2 font-bold;
}

.toc a {
	@apply text-gray-700 no-underline;
}

.toc a:hover {
	@apply px-2 py-1 bg-flamingo-200 transition-all duration-300;
}

.tldr {
	@apply bg-pink-100 border border-gray-100 rounded-lg pb-6 mt-6 mb-2;
}

.tldr ol, .tldr ul {
	@apply pl-14 pr-12;
}

.toc ol, .toc ul {
	@apply pl-14;
}

.blockquote {
	@apply bg-gray-100 border-l-4 border-gray-500 px-4 py-2 my-4;
}

.blog-section-body p {
	line-height: 2.25rem !important;	
	@apply py-4;
}

.blog-section-body li {
	line-height: 2.25rem !important;
	@apply py-2;
}

.tldr .tilt1, .tldr .tilt2, .tldr .tilt3, .toc .tilt1, .toc .tilt2, .toc .tilt3 {
	@apply mt-6;
}

@media only screen and (max-width: 1023px) {
	.view-on-desktop-only {
		display: none;
	}
}

@media only screen and (min-width: 1023px){
	.view-on-mobile-only {
	  display: none;
	}
}
/* for flash_notices() and flash_errors() */

div.flash-error,
div.flash-notice,
div.flash-success,
div.downvoteWarning,
div.errorExplanation {
	position: relative;
	padding: 7px 15px;
	margin-bottom: 0px;
	background-color: #eedc94;
	background-repeat: repeat-x;
	background-image: linear-gradient(top, #fceec1, #eedc94);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #eedc94 #eedc94 #e4c652;
	border-color: rgba(0, 0, 0, 0.2);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
}
div.flash-error a,
div.flash-notice a,
div.flash-success a,
div.errorExplanation a {
	font-weight: bold;
	color: #404040;
}
div.flash-error p a,
div.flash-notice p a,
div.flash-success p a {
	color: #ffffff;
}
div.flash-error p,
div.flash-notice p,
div.flash-success p,
div.errorExplanation p {
	margin-bottom: 0;
}
div.flash-error div,
div.flash-notice div,
div.flash-success div,
div.errorExplanation div {
	margin-top: 2px;
	margin-bottom: 2px;
	line-height: 28px;
}
div.flash-error img,
div.flash-success img {
	height: 40px;
	margin-right: 15px;
}
div.flash-error,
div.errorExplanation {
	background-color: #ffffff;
	text-shadow: none;
	font-weight: 400;
	display:flex;
	align-items: center;
}
div.flash-error-heading {
	color: #c43c35;
	text-transform: capitalize;
	font-weight: 750;
}
div.flash-success {
	background-color: #ffffff;
	text-shadow: none;
	font-weight: 400;
	display:flex;
	align-items: center;
}
div.flash-success-heading {
	color: #57a957;
	text-transform: capitalize;
	font-weight: 750;
}
div.flash-notice {
	background-color: #339bb9;
	background-repeat: repeat-x;
	background-image: linear-gradient(top, #5bc0de, #339bb9);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #339bb9 #339bb9 #22697d;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

div.flash-error h2,
div.flash-notice h2,
div.flash-success h2,
div.errorExplanation h2 {
	font-size: 1.25em;
	margin: 0;
}
