<div class="mx-auto sm:mx-32 mx-4">
<section class="sm:mx-2 mx-8 top-section mt-0 sm:mt-4 mb-4 text-gray-700 body-font">
    <div class="text-center">
      <h1 class="sm:text-6xl text-4xl font-extrabold text-center title-font text-flamingo-800 m-auto pt-8 pb-2 leading-none tracking-tight">Discover the best content on <%= @category.name %>.</h1>
      <h2 class="sm:text-2xl text-xl font-light text-center title-font text-gray-700 m-auto pt-2 pb-8 leading-snug tracking-tight">Find everything you need to know launch your startup faster - education, community, tools.</h2>
    </div>
</section>
<section class="mx-auto my-0 sm:my-4">
  <%= render 'shared/articles_3_in_row', articles:@core_articles, suffix:"a" %>
</section>
</div>
