<style>
html{
        overflow-x: hidden;
}
  body{
      background-color:#fff;
      overflow:"hidden";
  }

</style>
    
    <div class="h-screen box-border ml-48">
        <div class="h-1/2">
            <div class="cont h-full flex justify-end items-end justify-between">
                <div class="left h-full flex items-center">
                    <div>
                        <div class="text-8xl font-black">Founder Stories</div>
                        <div class="text-4xl font-light text-steelGrey">Read stories about Startup Moguls who revolutionised the industry
                            simply by taking the leap!</div>
                    </div>
                </div>
                <div class="right flex overflow-auto">
                    <img class="z-10" src="/assets/grp.svg" />
                </div>
            </div>
        </div>
        <div class="slider">
            <div class="text-mediumBlue text-5xl font-black">Immersive Stories</div>
            <div class="text-steelGrey font-normal text-2xl mt-2">Get lost in these short engrossing stories of founders who set out to achieve
                something iconic.</div>
            <div class="img flex overflow-hidden cursor-grab">
                <img src="/assets/sq.png" class="w-52 h-52 rounded-full m-12" />
                <img src="/assets/sq.png" class="w-52 h-52 rounded-full m-12" />
                <img src="/assets/sq.png" class="w-52 h-52 rounded-full m-12" />
                <img src="/assets/sq.png" class="w-52 h-52 rounded-full m-12" />
                <img src="/assets/sq.png" class="w-52 h-52 rounded-full m-12" />
                <img src="/assets/sq.png" class="w-52 h-52 rounded-full m-12" />
            </div>
        </div>
        <div class="text-mediumBlue text-5xl font-black mt-20">All Our Stories</div>
            <div class="text-steelGrey font-normal text-2xl mt-2"> Curated by our best writers, here are all the founder stories you need to know!
            </div>
            <div class="filter-section flex mt-8">
                <div class="filter-table border-2 w-96">
                    <div class="p-4">
                        <div class="head flex w-full border-b">
                            <div class="text-2xl">-></div>
                            <div class="text-2xl font-normal text-darkGrey">Filters</div>
                        </div>
                        <div>
                            <div class="flex justify-between mt-4">
                                <div>Age</div>
                                <div>Select All</div>
                            </div>
                            <div class="buttons flex mt-2">
                                <button class="border p-1 rounded-full px-4 mr-2">20-25</button>
                                <button class="border p-1 rounded-full px-4 mr-2 ">20-25</button>
                                <button class="border p-1 rounded-full px-4 mr-2">20-25</button>
                                <button class="border p-1 rounded-full px-4 mr-1">20-25</button>
                            </div>
                            <div class="buttons flex mt-1">
                                <button class="border p-1 rounded-full px-4 mr-2">20-25</button>
                                <button class="border p-1 rounded-full px-4 mr-2 ">20-25</button>
                                <button class="border p-1 rounded-full px-4 mr-2">20-25</button>
                            </div>
                        </div>
                        <div>
                            <div class="flex justify-between mt-4">
                                <div>Gender</div>
                                <div>Select All</div>
                            </div>
                            <div class="buttons flex mt-2">
                                <button class="border p-1 rounded-full px-4 mr-2">male</button>
                                <button class="border p-1 rounded-full px-14 mr-2 ">female</button>
                                <button class="border p-1 rounded-full px-4 mr-2">other</button>
                            </div>
                        </div>
                        <div>
                            <div class="flex justify-between mt-4">
                                <div>Did they start on the side ?</div>
                                <div>Select All</div>
                            </div>
                            <div class="buttons flex mt-2">
                                <button class="border p-1 rounded-full px-20 mr-2">started on the side</button>
                            </div>
                            <div class="buttons flex mt-2">
                                <button class="border p-1 rounded-full px-12 mr-2">quit job</button>
                            </div>

                        </div>
                        <div>
                            <div class="flex justify-between mt-4">
                                <div>Do they code ?</div>
                                <div>Select All</div>
                            </div>
                            <div class="buttons flex mt-2">
                                <button class="border p-1 rounded-full px-8 mr-2">doesn't code</button>
                                <button class="border p-1 rounded-full px-4 mr-2">codes</button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="data w-2/3 ml-8">
                    <div class="serach border flex">
                        <div class="icon">Icon</div>
                        <input type="text" placeholder="Search by founder's or company name" class="w-full">
                    </div>
                    <div class="cards border mt-8 w-1/2  max-w-sm">
                        <img src="/assets/pr.svg" />
                        <div class="box p-2">
                            <div class="text-2xl font-semibold">Pranay Chulet</div>
                            <div class="text-lg">Quickr</div>
                            <div class="text-lg">Online Classifieds</div>
                            <div>Tags</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
