<div class="bg-indigo-500 md:mt-8 mt-2 md:pt-2 md:pb-16 pt-2 pb-4">
  <div class="mx-auto md:flex md:space-x-8 flex-none md:mx-32 mx-4 mt-4">
    <div class="w-full md:w-1/2">
      <h2 class="py-2 mb-2 text-white border-b-2 inline-flex">Categories</h2>
      <% @categories_all.each do |category| %>
      <p class="py-1"><a href="/<%= category.slug %>" class="no-underline text-white md:text-lg text-base hover:text-white hover:bg-indigo-800 hover:px-2 hover:py-1 transition-all duration-300"><%= category.name.capitalize %></a></p>
      <% end %>
      <p class="py-1"><a href="/all-posts" class="no-underline text-white md:text-lg text-base hover:text-white hover:bg-indigo-800 hover:px-2 hover:py-1 transition-all duration-300">All posts</a></p>
    </div>
    <div class="w-full md:w-1/2">
      <h2 class="py-2 mb-2 text-white border-b-2 inline-flex">Glossary</h2>
      <% @categories_all.each do |category| %>
      <p class="py-1"><a href="/<%= category.slug %>-glossary" class="no-underline text-white md:text-lg text-base hover:text-white hover:bg-indigo-800 hover:px-2 hover:py-1 transition-all duration-300"><%= category.name.capitalize %></a></p>
      <% end %>
    </div>
  </div>
</div>