<header class="hidden md:block bg-gray-100 sticky top-0 z-50 shadow py-4 ">
  <div class="container mx-auto navbar flex justify-between md:flex top-section text-gray-700 font-medium text-base">
    <div class="font-bold md:text-xl text-base mb-2 flex">
      <div class="flex items-center">
        <a class="no-underline" href="/">
          <img src="https://buildd.s3.amazonaws.com/Buildd.jpeg" class="w-9 border rounded-full float-left" />
        </a>
        <a class="text-gray-700 hover:text-flamingo-800 no-underline align-middle" href="/">&nbsp;&nbsp;buildd</a>
      </div>
    </div>
  </div>
</header>
